*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color: #042DEA;
    --secondary-color: #042D5E;
    --tertiry-color: #3e3e3e;
    --bg-gradient: linear-gradient(90deg, rgba(4,45,234,1) 0%, rgba(4,45,94,1) 100%);
}

body{
    color: var(--tertiry-color) ;
}